# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
Lab2/tests/data/input1_encrypt.bin
Lab2/tests/data/input1_output.bin
Lab2/tests/data/input2_encrypt.bin
Lab2/tests/data/input2_output.bin
Lab2/tests/data/input3_encrypt.bin
Lab2/tests/data/input3_output.bin
